<nav class="document-list-breadcrumbs">
  <strong>{{message 'document.path.label'}}</strong>
  <ul>
    <li data-path="">{{message 'document.path.root'}}</li>
    {{#each pathParts}}
    <li data-path="{{path}}">{{label}}</li>
    {{/each}}
  </ul>
</nav>
{{#if options.scrollable}}
<div class="document-list-scrollable">
{{/if}}
<ul class="document-list-container">
  {{#if path}}
  <li class="back-link">
    {{#if options.multiSelect}}
    <span class="selection"></span>
    {{/if}}
    <i></i>
    <span class="name">{{message 'document.back.label'}}</span>
    <span class="size hidden-xs"></span>
    <span class="permissions hidden-xs"></span>
    {{#unless options.hideActions}}
    <span class="action-buttons"></span>
    {{/unless}}
  </li>
  {{/if}}
  {{#each folders}}
  <li class="folder">
    {{#if ../options.multiSelect}}
    <span class="selection"></span>
    {{/if}}
    <i></i>
    <span class="name">{{name}}</span>
    <span class="size hidden-xs"></span>
    <span class="permissions hidden-xs">
      {{#if readable}}
      <strong title="{{message 'document.permissions.read.title'}}">{{message 'document.permissions.read'}}</strong>
      {{^}}
      <strong></strong>
      {{/if}}
      {{#if writeable}}
      <strong title="{{message 'document.permissions.write.title'}}">{{message 'document.permissions.write'}}</strong>
      {{^}}
      <strong></strong>
      {{/if}}
    </span>
    {{#unless ../options.hideActions}}
    <span class="action-buttons">
      {{#if writeable}}
      <i class="fa fa-trash delete-btn"
        title="{{message 'default.btn.remove'}}"></i>
      {{/if}}
    </span>
    {{/unless}}
  </li>
  {{/each}}
  {{#each files}}
  <li class="file filetype-{{fileType}}">
    {{#if ../options.multiSelect}}
    <span class="selection">
      <input type="checkbox"{{#if selected}}checked="checked"{{/if}} />
    </span>
    {{/if}}
    <i></i>
    <span class="name">{{name}}</span>
    <span class="size hidden-xs" title="{{size}} B">{{sizeFormatted}}</span>
    <span class="permissions hidden-xs">
      {{#if readable}}
      <strong title="{{message 'document.permissions.read.title'}}">{{message 'document.permissions.read'}}</strong>
      {{^}}
      <strong></strong>
      {{/if}}
      {{#if writeable}}
      <strong title="{{message 'document.permissions.write.title'}}">{{message 'document.permissions.write'}}</strong>
      {{^}}
      <strong></strong>
      {{/if}}
    </span>
    {{#unless ../options.hideActions}}
    <span class="action-buttons">
      {{#if writeable}}
      <i class="fa fa-trash delete-btn"
        title="{{message 'default.btn.remove'}}"></i>
      {{/if}}
    </span>
    {{/unless}}
  </li>
  {{/each}}
</ul>
{{#if options.scrollable}}
</div>
{{/if}}
