<div class="row">
  {{#each panels}} 
  <div class="col-xs-12 col-sm-4 col-lg-3">
    <div class="panel" data-panel-id="{{@key}}">
      <div class="panel-heading">
        <h4>{{title}}</h4>
        <div class="buttons">
          <button type="button" class="add-btn"
            title="{{message 'overview.addPanel.label'}}"
            ><i class="fa fa-plus-circle"></i
            ><span class="sr-only">{{message 'overview.addPanel.label'}}</span
          ></button>
        </div>
      </div>
      <div class="panel-body">{{description}}</div>
    </div>
  </div>
  {{/each}}
</div>

